{% extends 'base.html' %}
{% block content %}


<div class="container">
	<br>
	<br>
	
	
	<div class="float-left">
		<h1>Hey, {{user.first_name}}!</h1>
		
	</div>
	<div class="float-right">
		<form action="/logout" method="post">
			{% csrf_token %}
		<h2> <button type="submit" class="btn btn-dark">Logout</button></h2>
		</form>
	</div>
	<br>
	<br>
	<br>
	<div class="float-left">
	<h6>Current Key : <b>{{k}}</b></h6>
</div>
	<br>
</div>
<br>
<div class="container">
  <div class="row mt-4" >
    <div class="col">





      
    
<br>

       <ul class="list-group">
       <li class="list-group-item active">Attendence record for class {{cls_name}}</li>
        {% for s in student %}
         <li class="list-group-item">{{s.stu_id}}</li>
      
       {% endfor %}
    </ul>

       <div>
    {% for message in messages %}
    <h3>{{message}}</h3>
    {% endfor %}
 </div>

    </div>
 </div>
</div>



{% endblock %}

